* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

h1 {
  text-align: center;
  margin: 20px;
}

.solatip {
  width: 100%;
}

.menulist {
  margin: 20px;
  border: 2px solid black;
  min-height: 150px;
  background-color: blanchedalmond;
  position: relative;
}

.foodname {
  margin: 5px;
  font-weight: bold;
  
}

.label {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  background-color: antiquewhite;
  border: 2px solid black;
  border-top: 0;
  border-right: 0;
  font-size: 16px;
}

p {
  padding: 8px;
  text-justify: auto;
  margin-top: 10px;
}

.footer {
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
}

@media (min-width: 601px) and (max-width: 1024px) {
  .solatip {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: calc(16px + 0.1vw);
  }

  .menulist.crot-1,
  .menulist.crot-2 {
    flex: 1 1 47%;
    margin: 1%;
  }

  .menulist.crot-3 {
    flex: 1 1 100%;
  }
}

.menulist.crot-3 {
  clear: both;
}

@media (min-width: 1025px) {
  .solatip {
    display: flex;
    flex-direction: row;
    font-size: calc(18px + 0.1vw);
  }
}
